.card__card-user {
  margin: 20px 20px 20px 20px;
  padding: 5px;
  min-width: 250px;  
  min-height: 150px;
  outline: 2px solid blue;
}
.card__card-user--flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.card__card-user--flex-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-nav__btn {
  margin: 10px;
  padding: 7px;
  border:none ;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color:rgb(253, 239, 42);
  text-decoration: none;
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: bold;
}